<div class="welcome"> Welcome to my site!!! </div>

<br>
<p class= "funny"> Hello and welcome to this super cool page. If you are on this page it is becuase you are super cool!</p>
<ul id="name_list"></ul>

<div class = 'text_input'>
  <form>
    name:
    <input type="text" id="name">
    <input type="submit">
  </form>
</div>


